<!DOCTYPE html>
<html>
  <head>
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <nav>
        <ul>
          <li><%= link_to 'Filmes', root_path %></li>
          <li><%= link_to 'Gêneros', genres_path %></li>
          <li><%= link_to 'Diretores', directors_path %></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
